@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #bae0f2;
}
.leftMenu{
  position: fixed;
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  background: #f2faff;
}
.contentPane{
  position: absolute;
  height: 95%;
  width: 75%;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.2);
  border-radius: 15px;
}
.userTablePane{
  position: absolute;
  height: 75%;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.userTableBar{
  position: relative;
  height: 80px;
  width: 100%;
  top: 0%;
  left: 0%;
  border-radius: 2px;
  z-index: 2;
  overflow: hidden;
}
.userTableColor1{
  background: #fcffff;
}
.userTableColor2{
  background: #f2f2f2;
}
.contentBox{
  position: realitve;
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  float: left;
  padding: 5px;
}
.contentBoxSmall{
  position: realitve;
  height: 100%;
  width: 10%;
  top: 0;
  left: 0;
  float: left;
  padding: 5px;
}
.blockText{
  position: relative;
  top: 25%;
  transform: translateY(-50%);
  color: black;
  font-size: 18px;
  text-align: left;
}
.centered{
  text-align: center;
}

.delButton{
  position: absolute;
  height: 80%;
  width: 6%;
  top: 50%;
  right: 2%;
  background: red;
  border-radius: 100%;
  transform: translateY(-50%);
}
.delButton:hover {
  cursor: pointer;
}

.topMenu{
  position: fixed;
  height: 10%;
  width: 65%;
  top: 0%;
  left: 60%;
  transform: translate(-50%);
  background: rgba(0,0,0,0.3);
  border-radius: 2px;
  z-index: 5;
}

.addButton{
  position: absolute;
  height: 80%;
  width: 6%;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  border-radius: 100%;
  background: green;
}
.addButton:hover {
  cursor: pointer
}



.popupBackground{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(40,40,40,0.9);
  transition: 0.3s;
  opacity: 0;
  z-index: 0;
}
.popupAddMain{
  position: fixed;
  height: 65%;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  background: #f9fffc;
}
.unhidden{
  visibility: visible;
  z-index: 10;
  opacity: 1;
}
.popupMain_header{
  position: absolute;
  height: 14%;
  width: 90%;
  top: 5%;
  left: 5%;
  background: #84aff4;
}
.addX {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -10%;
  right: -10%;
  border-radius: 100%;
  background: red;
}
.addX:hover {
  cursor: pointer;
}
.popupForm {
  position: absolute;
  height: 65%;
  width: 90%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
}
.popupTextbox {
  position: relative;
  height: 40px;
  width: 70%;
  padding: 15px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  border: 3px solid rgba(0,0,0,0.5);
  margin-bottom: 15px;
  transition: 0.15s cubic-bezier(0.4, -0.4, 0.35, 1.2);
}
.popupTextbox:focus {
  border: 3px solid rgba(132,175,244,0.8);
  outline: none;
}
.submitButton {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
