bin/
build/
API/build
WebServer/build
TwilioAPI/build

.classpath
.project
.settings/
.gradle/

API/.classpath
API/.project
API/.settings/
API/bin/
API/.gradle

WebServer/.gradle

TwilioAPI/bin
TwilioAPI/.gradle
TwilioAPI/.classpath
TwilioAPI/.settings
