<!DOCTYPE HTML>
<html>
    <head>
        <title>Beacon Web App</title>

 <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript" src="js/alertWeb.js"></script>
  <link rel="stylesheet" type="text/css" href="css/newPage.css">

  <!-- Compiled and Minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="background"></div>
    
  <div class="sideMenu dkred">
    <div class="icon"></div>
    <button class="sideMenuButtons dkred center" onclick="window.location='http://127.0.0.1:8080/';">
          <div class="linkIcon image-binoculars"></div>
          <p class="linkText">Summary</p>
    </button>
    <button class="sideMenuButtons dkred center" onclick="window.location='http://127.0.0.1:8080/alerts';">
          <div class="linkIcon image-alert"></div>
          <p class="linkText">Alerts</p>
    </button>
    <button class="sideMenuButtons dkred center" onclick="window.location='http://127.0.0.1:8080/crud';">
          <div class="linkIcon image-users"></div>
          <p class="linkText">Users</p>
    </button>
  </div>

  
  <div class="contentPane">
    <div class="col">
    <div class="row align-items-center">
      <div class="card mx-auto mt-5">
        <h5 class="card-header">Alerts</h5>
        <div class="card-body mx-auto">
          <header></header>
        </div>
      </div>
    </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="addModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Add Alert</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col">
                <label for="alertTitleForm">Title</label>
                <input type="text" class="form-control"  id="alertTitleForm">
              </div>
              <div class="col">
                <label for="alertTypeForm">Type</label>
                <select id="alertTypeForm" class="form-control">
                  <option selected>Choose One</option>
                  <option>Poll</option>
                  <option>Informational</option>
                  <option>Urgent</option>
                  <option>Emergency</option>
                </select>
              </div>  
            </div>
            <div class="row pt-4">
              <div class="col">
                <label for="alertRecipientsForm">Recipients</label>
                <select id="alertRecipientsForm" class="form-control">
                  <option selected>Choose One</option>
                  <option>All</option>
                  <option>QA</option>
                  <option>IT</option>
                  <option>Accounting</option>
                </select>
              </div> 
              <div class="col">
                <label for="alertRecurringForm">Recurring</label>
                <select id="alertRecurringForm" class="form-control">
                  <option selected>No</option>
                  <option>Yes</option>
                </select>
              </div>
            </div>
             <div class="row pt-4">
              <div class="col">
                <label for="alertContentForm">Content</label>
                <input class="form-control" id="alertContentForm">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="submitAdd">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="infoModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="alertTitleText">ALERT_TITLE</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div id="modalContent"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery Library -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>

  <!-- Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>

  <!-- Compiled and Minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
