<html>
  <head>
    <title>Beacon Web App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/summary.css">
    <link rel="stylesheet" type="text/css" href="css/sideMenu.css">
  </head>
  <body>
    <div class="background"></div>
    <div class="leftMenu">
      <div class="icon"></div>
      <div class="linkContainer">
        <button class="linkButton center" onclick="window.location='http://127.0.0.1:8080/';">
          <div class="linkIcon"></div>
          <p class="linkText">Summary</p>
        </button>
        <button class="linkButton center" onclick="window.location='http://127.0.0.1:8080/alerts';">
          <div class="linkIcon"></div>
          <p class="linkText">Alerts</p>
        </button>
        <button class="linkButton center" onclick="window.location='http://127.0.0.1:8080/crud';">
          <div class="linkIcon"></div>
          <p class="linkText">Users</p>
        </button>
      </div>
    </div>
    
    <div class="topMenu center">
        <p class="mainTextMenu">Alerts<p>
    </div>
    <div class="contentPane">
      <div class="contentPaneContainer">
        
      </div>
    </div>
    
  </body>
</html>
