<!DOCTYPE HTML>
<html>
    <head>
        <title>Beacon Web App</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="js/crudWeb.js"></script>
        <link rel="stylesheet" type="text/css" href="css/mainContent.css">
        <link rel="stylesheet" type="text/css" href="css/sideMenu.css">
    </head>
  <body>
    <div class="background"></div>
    
    <div class="popupBackground" id="popupBG">
    <div class="popupAddMain" id="popupAdd">
      <div class="addX" id="addx"></div>
      <div class="popupMain_header">
         
      </div>
      <form class="popupForm">
           <input type="text" class="popupTextbox" id="fnbox" placeholder="First Name:">
           <input type="text" class="popupTextbox" id="lnbox" placeholder="Last Name:">
           <input type="text" class="popupTextbox" id="idbox" placeholder="Employee Number:">
           <input type="text" class="popupTextbox" id="phbox" placeholder="Phone Number:">
           <input type="text" class="popupTextbox" id="mnbox" placeholder="Manager:">
           <input type="text" class="popupTextbox" id="dpbox" placeholder="Department:">
           
        </form>
      <button type="button" id="submitAdd" class="submitButton">Add User</button>
    </div>
    </div>

    <div class="leftMenu">
      <div class="icon"></div>
      <div class="linkContainer">
        <button class="linkButton center" onclick="window.location='http://127.0.0.1:8080/';">
          <div class="linkIcon"></div>
          <p class="linkText">Summary</p>
        </button>
        <button class="linkButton center" onclick="window.location='http://127.0.0.1:8080/alerts';">
          <div class="linkIcon"></div>
          <p class="linkText">Alerts</p>
        </button>
        <button class="linkButton center" onclick="window.location='http://127.0.0.1:8080/crud';">
          <div class="linkIcon"></div>
          <p class="linkText">Users</p>
        </button>
      </div>
    </div>
    
    <div class="topMenu">
      <div class="addButton" id="addbtn"></div>
    </div>
    
    <div class="contentPane">
      
      <div class="userTablePane">
        <header></header>
      </div>
      
    </div>

    
  </body>
</html>
